.Contests {
	/*display: flex;*/
	/*justify-content: center;*/
	/*flex-flow: column;*/
	/*align-items: center;*/
	width: 100%
}
.Contests Button {
	margin-bottom: 10px;
}

.ButtonStyle {
	display: flex;
	justify-content: space-between;
}

.Modal {
	margin-top: 10px;
	width: 100%
}