.Contests {
	/*display: flex;*/
	/*justify-content: center;*/
	/*flex-flow: column;*/
	/*align-items: center;*/
	width: 100%
}
.Contests Button {
	/*margin-bottom: 10px;*/
	/*padding: 25px;*/
	height: 30px;
	font-weight: bold;
	font-size: 16px;
}
.NoRecordsFound {
	align-items: center;
    justify-content: center;
    display: flex;
    margin: 1rem;
}
.ButtonStyle {
	display: flex;
	/*flex-direction: row;*/
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.PaginationStyle{
	display: flex;
	justify-content: center;
}

.PaginationStyle Button {
	margin: 1px;
	border-radius: 5px;
}

.ButtonStyle select{
	width: 120px;
	border: 2px solid #ff0055;
	padding: 0 10px;
	margin: 1px;
	height: 35px;
	border-radius: 5px;
	outline: none;
	float: right;
}

.ButtonStyle input {
	width: 250px;
	border: 2px solid #ff0055;
	padding: 0 10px;
	margin: 1px;
	height: 35px;
	border-radius: 5px;
	outline: none;
}

.Modal {
	margin-top: 10px;
	width: 100%
}

.ContestForm {
	width: 80%;
}

.ContestForm Button {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
}

.ContestFormCard {
	width: 100%;
	display: flex;
	flex-flow: column;
/*	align-items: center;
	justify-content: space-between;*/
}

.ContestFormCard p {
	font-size: 15px;
	font-weight: bold;
	margin: 0;
	align-self: center;
}

.ContestFormCard hr {
	height: 1px;
	background-color: #ff0055;
	width: 100%;
}

.FormGroup {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-around;
	/*width: 100%;*/
}
.Inputid {
	width: 300px;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px solid #ccc;
	padding: 0 10px;
	box-sizing: border-box;
	text-align: left;
	margin: 0;
	font-size: 14px;
	height: 30px;
	border-radius: 3px;
	/*background-color: white;*/

}

.Description:hover,
.Inputid:hover {
	border: 1px solid black;
	outline: none;
}

.Description:focus,
.Inputid:focus {
	border: 2px solid #3D1CC2;
	outline: none;
}

.Datepicker {
	width: 220px;
	margin: 0;
	font-size: 14px;
	height: 30px;
	border-radius: 3px;
}

.Description {
	height: 80px;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 10px 10px;

}

/*Question Answers*/
.AddAnswersHeader {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-around;
	/*margin-right: 30px;*/
	margin: 0;
	padding: 0;
}

.AddAnswersHeader p {
	font-size: 12px;
	margin: 0;
}

.AddAnswersHeader Button {
	margin: 0;
	font-size: 12px;
}

.InputField {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
}

.Radio {
	margin-top: 60px;
	border: 0px;
    width: 100%;
    height: 20px;

}

.Warning {
	color: red;
	text-align: center;
	font-weight:  bold;
}

select {
	background-color: white;
	color: #5F6A6A;
	box-sizing: border-box;

}

@media (min-width: 200px){
	.FormGroup {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: space-around;
	}

	.InputField {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: space-around;
	}

	.Inputid {
		width: 200px;
	}
	
	.Datepicker {
		width: 200px;
	}

	.Description {
		width: 200px;
	}

	.Radio {
		margin: 0;
	}

	.AddAnswersHeader p{
		font-size: 12px;
	}

	.AddAnswersHeader Button {
		font-size: 12px;
	}
}

@media (min-width: 320px){
	.FormGroup, .InputField{
		display: flex;
		flex-flow: column;
		align-items: center;
	}

	.Inputid, .Datepicker, .Description{
		width: 220px;
	}

	.Radio {
		margin: 0;
	}

	.AddAnswersHeader p{
		font-size: 12px;
	}

	.AddAnswersHeader Button {
		margin: 0;
		font-size: 12px;
	}

	.Contests Button {
		height: 30px;
		font-weight: bold;
		font-size: 12px;
	}	
}

@media (min-width: 375px){
	.ContestFormCard p {
		font-size: 25px;
	}
	.FormGroup, .InputField {
		display: flex;
		flex-flow: column;
		align-items: center;
	}

	.Inputid, .Datepicker, .Description{
		width: 270px;
	}

	.Radio {
		margin: 0;
	}

	.AddAnswersHeader p{
		font-size: 12px;
	}

	.AddAnswersHeader Button {
		margin: 0;
		font-size: 12px;
	}

	.Contests Button {
		height: 30px;
		font-weight: bold;
		font-size: 12px;
	}
}
@media (min-width: 414px){
	.FormGroup, .InputField{
		display: flex;
		flex-flow: column;
		align-items: center;
	}

	.Inputid, .Datepicker, .Description{
		width: 300px;
	}

	.Radio {
		margin: 0;
	}

	.AddAnswersHeader p{
		font-size: 12px;
	}

	.AddAnswersHeader Button {
		margin: 0;
		font-size: 12px;
	}

	.Contests Button {
		height: 30px;
		font-weight: bold;
		font-size: 12px;
	}
}

@media (min-width: 500px){
	.FormGroup, .InputField {
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: space-around;
		/*width: 100%;*/
	}

	.Inputid, .Datepicker, .Description{
		width: 240px;
	}

	.Radio {
		margin: 0;
	}

	.AddAnswersHeader p{
		font-size: 18px;
	}

	.Contests Button {
		height: 30px;
		font-weight: bold;
		font-size: 12px;
	}
}

@media (min-width: 540px){
	.FormGroup, .InputField {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: space-around;
	}

	.Inputid, .Datepicker, .Description {
		width: 380px;
	}

	.Radio {
		margin: 0;
	}

	.AddAnswersHeader p{
		font-size: 16px;
	}

	.AddAnswersHeader Button {
		margin: 0;
		font-size: 16px;
	}
}

@media (min-width: 600px){
	.FormGroup, .InputField{
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: space-around;
		/*width: 100%;*/
	}

	.Inputid, .Datepicker, .Description{
		width: 400px;
	}

	.Radio {
		margin: 0;
	}

	.AddAnswersHeader p{
		font-size: 20px;
	}

	.AddAnswersHeader Button {
		margin: 0;
		font-size: 20px;
	}
}

@media (min-width: 768px){
	.FormGroup, .InputField {
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: space-around;
		/*width: 100%;*/
	}

	.Inputid {
		width: 280px;
	}

	.Datepicker{
		width: 170px;
	}
	.Description{
		width: 500px;
	}

	.Radio {
		margin: 0;
	}

	.AddAnswersHeader p{
		font-size: 20px;
	}

	.AddAnswersHeader Button {
		margin: 0;
		font-size: 20px;
	}

	.Contests Button {
		height: 30px;
		font-weight: bold;
		font-size: 18px;
	}
}


@media (min-width: 1000px){
	.FormGroup {
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: space-around;
	}

	.InputField {
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: space-around;
	}

	.Inputid {
		width: 380px;
	}
	
	.Datepicker {
		width: 220px;
	}

	.Description {
		width: 630px;
	}

	.Radio {
		margin: 0;
	}

	.AddAnswersHeader p{
		font-size: 22px;
	}
}
