.Input {
	width: '100%';
	padding: 10px;
	box-sizing: border-box;
}

.Label {
	font-weight: bold;
	display: block;
	margin-bottom: 8px;
}

.InputElement {
	outline: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom:  2px solid #ff0055;
	background-color: white;
	/*font: inherit;*/
	padding: 6px 10px;
	/*display: block;*/
	width: 100%;
	box-sizing: border-box;
	font-size: 16px;
}

.InputElement:focus {
	outline: none;
	background-color: white;
	/*background: #ebebeb;*/
	/*border-color: blue;*/
}

.Input p {
	font-size: 14px;
	text-align: center;
	color: red;
	padding: 0;
}



.form-control label,
.form-control input,
.form-control textarea {
  display: block;
}