.NavigationItems {
	margin-top: 10px;
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: column;
	align-items: center;
	height: 100%;
	/*width: 80px;*/
}

/*Navigation Links*/

.NavigationItems li {
  	border-bottom: 2px solid white;
  	padding-bottom: 25px;
}

.NavigationItem {
	margin: 10px 5px;
	box-sizing: border-box;
	display: block;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.NavigationItem a {
	color: white;
	text-decoration: none;
	box-sizing: border-box;
	display: block;
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	align-items: center;
	text-align: center;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a:active {
	color: revert; 
}

@media (min-width: 500px){
	.NavigationItems {
		margin: 0;
		flex-flow: row;
		display: flex;
		align-items: center;
	}

	.NavigationItems li {
  		border-bottom: 0;
  		padding-bottom: 0;
	}


	.NavigationItem {
		margin: 0;
		height: 100%;
		width: auto;
	}

	.NavigationItem a {
		height: 100%;
		padding: 15px;
		border-bottom: 1px solid transparent;
		font-size: 20px;
	}

	.NavigationItem a:hover,
	.NavigationItem a:active,
	.NavigationItem a:active {
		/*border-bottom: 4px solid #40A4C8;*/
		border-bottom: 4px solid white;
		color: white; 
	}
}